.navbar{
    display: flex;
    list-style-type: none;
    justify-content: start;
    background-color: #c5ae7b;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 4px #888888;
}
.navbar>div {
    padding: 10px
    
}
.navbar>div:hover{
    background-color: #888888;
    cursor: pointer;
}